body {
    background-color:#c8bce09a;
}


p {
    color: rgb(34, 34, 34);
}

.foto-principal {
    margin: 30px 30px 30px 30px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid rgb(255, 253, 253)
    
}
