body {
    background-color:#684b9e9a;
}

h3 {
    color:green;
}

.foto-principal {
    width:300px;
}

#titulo-principal {
    color: green;
}

.foto-contato {
    width:400px;
}

h1 {
    color: rgba(0, 17, 255, 0.904);
}

h4 {
    color: red;
}

p{
    color: rgb(34, 34, 34);
}