body {
    background-color:#d8d5d5d0;
}


p {
    color: rgb(34, 34, 34);
}

.foto-principal {
    box-shadow: 2px 2px 2px rgb(212 204 204);
    padding: 02px;
    margin: 30px; /* shorthand */
    width: 200px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
