body {
    background-color:#684b9e9a;
}


p {
    color: rgb(34, 34, 34);
}

.foto-principal {
    width: 200px;
    border-radius: 10% 10% 10% 80% ;
    border: 2px solid #ffff
}

h3{
    border-style:  double;
    margin-right: 1050px;
}